DB_URL=jdbc:mysql://127.0.0.1:3306/cash_register?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
DB_USERNAME=cash_register
DB_PASSWORD=change-me
JWT_SECRET=replace-this-in-production
JWT_EXPIRATION=86400000
JAVA_OPTS=-Xms128m -Xmx256m -XX:+UseG1GC
DB_POOL_MAX_SIZE=5
DB_POOL_MIN_IDLE=0
SERVER_TOMCAT_MAX_THREADS=50
SERVER_TOMCAT_MIN_SPARE_THREADS=5
